nav {
  background-color: var(--white);
  box-shadow: var(--shadow-1);
}
.nav-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--primary-500);
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-500);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--primary-700);
  transform: rotate(90deg);
}
.logo {
  height: 70px;
  margin-right: -12rem;
}

.links a {
  color: var(--grey-700);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--primary-100);
  color: var(--primary-500);
  padding-left: 1.5rem;
}

.links-container {
  overflow: hidden;
  transition: var(--transition);
}

.social-icons {
  display: none;
}
.show {
  display: block;
}
.basket {
  position: relative;
  font-size: 30px;
  padding-right: 20px;
}
.basket span {
  position: absolute;
  top: 0;
  font-size: 18px;
  right: 0;
  border: 2px solid var(--primary-500);
  width: 18px;
  text-align: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: red;
}
@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
  .nav-icon {
    padding: 0;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    gap: 1rem;
  }
  .links a {
    padding: 0;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons {
    display: flex;
    gap: 0.5rem;
  }
  .social-icons a {
    color: var(--primary-500);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--primary-300);
  }
  .show {
    display: none !important;
  }
}
