.single-product {
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  position: relative;
  max-width: 400px;
  overflow: hidden;
}

.single-product:hover {
  box-shadow: var(--shadow-3);
}
.single-product .img {
  height: 20rem;
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
  transition: var(--transition);
}
.single-product .img:hover {
  transform: scale(1.1);
  filter: blur(3px);
}

.like-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  color: red;
  letter-spacing: 2px;

  border-top-right-radius: var(--borderRadius);
  cursor: pointer;
  font-size: 24px;
}
